<div class="jumbotron mt-4">
  <h1 class="display-4">Registro de Personas</h1>
  <p class="lead">Bienvenido, aquí puedes registrar las personas que desees, por
    favor complete los datos requeridos.</p>
  <hr class="my-4" />
  <a href="https://github.com/MiguelMRojas" class="btn btn-primary">Github</a>
</div>